/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus{
    outline: 0;
}
/* /Reset CSS */

body {
    font-size: 20px;
	line-height: 1.6em;
	background: url('/resources/images/background.jpg') no-repeat;
	background-size: 100%;
	background-color: #001425;
	color: #EE9B0F;
	overflow-y: scroll;
}

@media (max-width: 900px) {
	body,
	.p {
		font-size: 18px !important;
	}
}

@media (max-width: 800px) {
	body,
	.p {
		font-size: 16px !important;
	}
}

@media (max-width: 650px) {
	body,
	.p {
		font-size: 14px !important;
	}
}

h1 {
	font-size: 1.5em;
	margin: 0 0 0.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

a,
a:hover,
a:focus {
	font-style: italic;
	color: #fdeed0;
}

img {
	max-height: 100%;
}

.page {
	margin: 0 auto;
	width: 90%;
}

.page > div {
	overflow: hidden;
}

/* Header */
.header {
	overflow: hidden;
	font-family: Georgia;
	padding: 1em 0;
}

.header .info-container {
	padding-bottom: 1px;
	margin: 0 10%;
	overflow: auto;
}

@media (max-width: 1000px) {
	.header .info-container {
		margin: 5%;
	}
}

@media (max-width: 640px) {
	.header .info-container {
		margin: 0;
	}
}

.header .info-container > * {
	display: inline-block;
	float: left;
}

.header .info-container p {
	width: 30%;
}

.header .info-container .logo-container {
	width: 40%;
	text-align: center;
}

.header .info-container .logo {
	height: 7.5em;
	opacity: 0.9;
}

.header .info-container .contacts {
	text-align: right;
	padding-top: 1em;
}

.top-menu {
	font-size: 1.3em;
	clear: both;
	text-align: center;
	margin: 0.8em;
	list-style: none;
}

.header .top-menu li {
	display: inline-block;
	margin: 0.2em 1%;
}
/* /Header */

/* Slider */
.slider-pro {
	margin-top: 1em !important;
	margin-bottom: 2em !important;
}

.slider-pro .sp-arrow:before,
.slider-pro .sp-arrow:after {
	background-color: #001528;
}

.slider-pro .sp-slide .slider-item-text {
	position: absolute;
	display: inline-block;
	padding: 2px 10px;
	bottom: 10px;
	left: 10px;
	background: white;
}
/* /Slider */

/* Main wrapper */
.main-wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.main-wrapper .left-menu {
    width: 30%;
	line-height: 2em;
    float: left;
}

.main-wrapper .left-menu ul {
	list-style: none;
	margin: 1em 0;
}

.main-wrapper .left-menu a {
	font-size: 1.3em;
}

.main-wrapper .content {
    float: right;
    width: 70%;
}

.main-wrapper .content * {
	font-size: 20px !important;
}

@media (max-width: 1024px) {
	.main-wrapper .left-menu {
		width: 35%;
	}
	.main-wrapper .content {
		width: 65%;
	}
}

.main-wrapper .products-list li {
	display: block;
	float: left;
	max-width: 31%;
	margin: 1em 1%;
}

.main-wrapper .products-list li span {
	display: block;
	height: 3.3em;
	text-align: center;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.main-wrapper .products-list li {
		max-width: 48%;
	}
}
/* /Main wrapper */

/* Small image */
.small-image-wrapper {
	position: relative;
}

.small-image-wrapper .camera-icon {
	bottom: 5px;
	left: 5px;
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	opacity: 0.5;
}

.small-image-wrapper:hover .camera-icon {
	opacity: 1;
}

.clickable-small-image {
	cursor: pointer;
	height: 14.285714em; /* 200 / 14 */
	border: 4px solid #fdeed0;
	display: block;
	max-width: 100%;
}
/* /Small image */

/* Fullscreen item */
.fullscreen-item-wrapper {
	display: none;
}

.fullscreen-item-wrapper.visible {
	display: block;
}

.fullscreen-item-wrapper .mask {
	background: gray;
	opacity: 0.9;
}

.fullscreen-item-wrapper > * {
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
}

.fullscreen-item-wrapper iframe {
	width: 70%;
	height: 70%;
}

.fullscreen-item-wrapper .product-info-wrapper {
	max-width: 90%;
	max-height: 90%;
}

.fullscreen-item-wrapper .product-info-wrapper img {
	max-width: 100%;
	max-height: 100%;
	border: 5px solid white;
}

.fullscreen-item-wrapper .product-info-wrapper.with-description img {
	max-width: 80%;
	vertical-align: top;
	border: 5px solid white;
}

.fullscreen-item-wrapper .product-info-wrapper.with-description p {
	max-width: 20%;
	display: inline-block;
	color: #fdeed0;
	padding: 0.25em;
	text-align: left;

}
/* /Fullscreen item */

/* Footer */
.footer {
	text-align: center;
	margin: 2em auto;
	border-top: 1px solid;
	width: 80%;
}

.footer > * {
	display: inline-block;
	height: 2em;
	font-size: 1.2em;
	line-height: 2em;
	vertical-align: middle;
	margin: 1em;
}
/* /Footer */