<button ui-sref='newProduct'>
    Добавить изделие
</button>

<div class="data-block" ng-repeat="(typeId, productsData) in productsByType">
    <strong>{{getProductTypeName(typeId)}}</strong>
    <table class="list">
        <tr ng-repeat="product in productsData">
            <td ng-click="openProductForm(product._id)">
                <img class="main-img" ng-src="{{product.smallImageUrl}}">
            </td>
            <td ng-click="openProductForm(product._id)">
                {{product.name}}
            </td>
            <td>
                <img src="/resources/images/admin/icons/edit.png" ng-click="openProductForm(product._id)">
            </td>
            <td>
                <img src="/resources/images/admin/icons/delete.png" ng-click="tryDeleteProduct(product._id)">
            </td>
        </tr>
    </table>
</div>